<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="trayGarden" type="TrayGarden.Configuration.SectionHandler, TrayGarden" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <trayGarden>

    <modernFactory type="TrayGarden.Configuration.ModernFactory, TrayGarden" />

    <!--It's a test object to test Factory functionality. Should be removed before release-->
    <mock type="TrayGarden.MockType">
      <StrValue>HelloStr</StrValue>
      <IntValue>15</IntValue>
      <BoolValue>True</BoolValue>
      <ObjValue>
        <mock2 type="TrayGarden.MockType">
          <IntValue>25</IntValue>
        </mock2>
      </ObjValue>
      <IntList hint="addlist">
        <value1>10</value1>
        <value2>20</value2>
        <value3>30</value3>
      </IntList>
      <StrList hint="addlist">
        <value1>first</value1>
        <value2>second</value2>
      </StrList>

      <NullList hint="newlist">
        <templates>
          <test>
            <obj type="TrayGarden.MockType">
              <StrValue>{str}</StrValue>
              <IntList hint="addlist">
                <templates>
                  <test2>
                    <value>{intv}</value>
                  </test2>
                </templates>
                <items xpathfrom="int" />
              </IntList>
            </obj>
          </test>
        </templates>
        <items templateXPath="test">
          <item str="firstT">
            <int intv="45" />
            <int intv="65" />
          </item>
          <item str="secondT" />
        </items>
      </NullList>

      <ObjList hint="addlist">
        <value>
          <obj type="TrayGarden.MockType" />
        </value>
        <value>
          <obj type="TrayGarden.MockType" />
        </value>
      </ObjList>
      <MethodInt hint="invoke">
        <firstParam>75</firstParam>
      </MethodInt>
      <MethodStr hint="invoke">
        <firstParam>Hello Alex</firstParam>
      </MethodStr>
      <!--<MethodObj hint="invoke" argTypes="System.Int32|System.Object">
        <somearg>25</somearg>
        <mock2 type="TrayGarden.MockType">
          <IntValue>25</IntValue>
        </mock2>
      </MethodObj>-->
    </mock>

    <gardenbed type="TrayGarden.Plants.Gardenbed" singleton="true">
      <Initialize hint="invoke">
        <plantWorkhourses type="newlist:System.Object">
          <plant type="TrayGarden.MockType, TrayGarden" />
        </plantWorkhourses>
      </Initialize>
    </gardenbed>


    <!-- Resource manager, which is implemented to get resource by key from assemblies -->
    <resourceManager type="TrayGarden.Resources.MultisourceResourcesManager" singleton="true">
      <Sources hint="addlist">
        <templates>
          <simpleSource>
            <source type="TrayGarden.Resources.AssemblySource">
              <Initialize hint="invoke">
                <AssemblyName>{assembly}</AssemblyName>
                <ResourcePath>{path}</ResourcePath>
              </Initialize>
            </source>
          </simpleSource>
        </templates>

        <!-- DEFINE RESOURCE SOURCES HERE -->
        <items templateXPath="simpleSource">
          <source assembly="TrayGarden" path="TrayGarden.Resources.GlobalResources" />
        </items>
      </Sources>
    </resourceManager>

    <pipelineManager type="TrayGarden.Pipelines.Engine.PipelineManager" singleton="true">
      <Initialize hint="invoke">
        <pipelines type="newlist:TrayGarden.Pipelines.Engine.Pipeline">
          <templates>
            <!-- A bit complicated template for providing Sitecore style pipelines defitions -->
            <sitecoreStyle>
              <pipeline type="TrayGarden.Pipelines.Engine.Pipeline">
                <Initialize hint="invoke">
                  <argumentTypeStr>{argType}</argumentTypeStr>
                  <name>{name}</name>
                  <processors type="newlist:TrayGarden.Pipelines.Engine.Processor">
                    <templates>
                      <simpleProcessor>
                        <processor type="TrayGarden.Pipelines.Engine.Processor">
                          <Initialize hint="invoke">
                            <processorObject type="{type}" />
                            <argumentTypeStr>{argType}</argumentTypeStr>
                          </Initialize>
                        </processor>
                      </simpleProcessor>
                    </templates>
                    <items templateXPath="simpleProcessor" xpathfrom="processor" />
                  </processors>
                </Initialize>
              </pipeline>
            </sitecoreStyle>
          </templates>

          <!-- DEFINE PIPELINES HERE -->
          <items templateXPath="sitecoreStyle">
           <!-- <pipeline name="simple" argType="TrayGarden.Pipelines.Simple.SomeArgs">
              <processor type="TrayGarden.Pipelines.Simple.SomeProcessor" />
            </pipeline>-->
            <pipeline name="initializePlant" argType="TrayGarden.Plants.Pipeline.InitializePlantArgs">
              <processor type="TrayGarden.Plants.Pipeline.ResolveIPlant" />
              <processor type="TrayGarden.Plants.Pipeline.ResolvePlantID" />
              <processor type="TrayGarden.Plants.Pipeline.ResolveWorkhorses" />
              <processor type="TrayGarden.Plants.Pipeline.ResolvePlantSettingBox" />
              <processor type="TrayGarden.Plants.Pipeline.CreateIPlantEx" />
            </pipeline>
            <pipeline name="standaloneIconServiceInitPlant" argType="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.InitPlantSIArgs">
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.CreateSIPlantBox" />
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.CreateNotifyIcon" />
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.BuildContextMenu" />
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.AssignIconModifier" />
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.ValidateAndAssignSIBox" />
              <processor type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.InitPlantPipeline.ResolveSettingsBox" />
            </pipeline>
            <pipeline name="globalMenuServiceInitPlant" argType="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.InitPlantGMArgs">
              <processor type="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.CreatePlantBox" />
              <processor type="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.CreateContextMenuStrip" />
              <processor type="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.ProvideWithIconChanger" />
              <processor type="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.CreateSettingsBox" />
              <processor type="TrayGarden.Services.PlantServices.GlobalMenu.Core.InitPlantPipeline.BindPlantBoxToPlant" />
            </pipeline>
            <pipeline name="userConfigServiceInitPlant" argType="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.InitPlantUCPipelineArg">
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.ResolveWorkhorse" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.ExtractSettingsMetadata" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.ResolveSettingBox" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.CreateUserSettingsObjects" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.CreateBridge" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.AssignPlantBox" />
              <processor type="TrayGarden.Services.PlantServices.UserConfig.Core.InitPlantPipeline.ProvidePlantWithBridge" />

            </pipeline>
            <pipeline name="startup" argType="TrayGarden.Pipelines.Startup.StartupArgs">
            <!--  <processor type="TrayGarden.Pipelines.Startup.Process" />-->
            </pipeline>
            <pipeline name="shutdown" argType="TrayGarden.Pipelines.Shutdown.ShutdownArgs">
              
            </pipeline>
          </items>
        </pipelines>
      </Initialize>

    </pipelineManager>

    <!-- My custom IoC bicycle :) -->
    <typeHatcherManager type="TrayGarden.TypesHatcher.HatcherManager" singleton="true">
      <Initialize hint="invoke">
        <mappings type="newlist:TrayGarden.TypesHatcher.IMapping">
          <templates>
            <instanceReferenced>
              <mapping type="TrayGarden.TypesHatcher.Mapping">
                <Initialize hint="invoke">
                  <interfaceType>{interface}</interfaceType>
                  <objectFactory type="TrayGarden.Configuration.SimpleObjectFactory">
                    <ConfigurationPath>{instanceRef}</ConfigurationPath>
                  </objectFactory>
                </Initialize>
              </mapping>
            </instanceReferenced>
          </templates>

          <!-- DEFINE MAPPINGS HERE -->
          <items templateXPath="instanceReferenced">
            <mapping interface="TrayGarden.Resources.IResourcesManager" instanceRef="resourceManager" />
            <mapping interface="TrayGarden.Pipelines.Engine.IPipelineManager" instanceRef="pipelineManager" />
            <mapping interface="TrayGarden.RuntimeSettings.IRuntimeSettingsManager" instanceRef="runtimeSettingsManager" />
            <mapping interface="TrayGarden.Plants.IGardenbed" instanceRef="gardenbed" />
            <mapping interface="TrayGarden.Services.Engine.IServicesSteward" instanceRef="services/servicesSteward" />
            <mapping interface="TrayGarden.Services.FleaMarket.IconChanger.INotifyIconChangerMaster" instanceRef="bricks/notifyIconChanger" />
          </items>
        </mappings>
      </Initialize>
    </typeHatcherManager>


    <runtimeSettingsManager type="TrayGarden.RuntimeSettings.RuntimeSettingsManager" singleton="true">
      <!--Interval in seconds. If zero - disabled -->
      <autoSaveInterval>0</autoSaveInterval>
      <Initialize hint="invoke">
        <storageProvider type="TrayGarden.RuntimeSettings.Provider.SettingsStorage" singleton="true">
          <FileName>RuntimeSettings.xml</FileName>
          <!--If false, will use folder in ApplicationData -->
          <UseLocalFolder>true</UseLocalFolder>
          <Initialize hint="invoke">
            <containerFactory type="objectfactory:TrayGarden.RuntimeSettings.Provider.Container" />
          </Initialize>
        </storageProvider>
      </Initialize>
    </runtimeSettingsManager>

    <services>
      <servicesSteward type="TrayGarden.Services.Engine.ServicesSteward" singleton="true">
        <Initialize hint="invoke">
          <services type="newlist:TrayGarden.Services.IService">
            <standaloneIcon type="TrayGarden.Services.PlantServices.StandaloneIcon.Core.StandaloneIconService" />
            <globalMenu type="TrayGarden.Services.PlantServices.GlobalMenu.Core.GlobalMenuService">
              <TrayIconResourceName>gardenIconV6</TrayIconResourceName>
              <IconText>Hello Kitty :)</IconText>
              <BoldMainMenuEntries>False</BoldMainMenuEntries>
            </globalMenu>
            <adminConfig type="TrayGarden.Services.PlantServices.MyAdminConfig.Core.MyAdminConfigService" />
            <customSettings type="TrayGarden.Services.PlantServices.CustomSettings.Core.CustomSettingsService" />
            <clipboardObserver type="TrayGarden.Services.PlantServices.ClipboardObserver.Core.ClipboardObserverService" />
            <userConfig type="TrayGarden.Services.PlantServices.UserConfig.Core.UserConfigService" />
          </services>
        </Initialize>
      </servicesSteward>
    </services>

    <!-- A NODE FOR SOME SIMPLE COMPONENTS-->
    <bricks>
      <notifyIconChanger type="TrayGarden.Services.FleaMarket.IconChanger.NotifyIconChanger">
        <DefaultDelayMsec>500</DefaultDelayMsec>
      </notifyIconChanger>

    </bricks>

    <settings>
      <setting name="ApplicationData.FolderName" value="TrayGarden" />
    </settings>
  </trayGarden>

  <log4net>
    <appender name="LogFileAppender" type="TrayGarden.Diagnostics.LoggingStuff.LogFileAppender">
      <param name="File" value="$(will-be-replaced-by-hardcode)" />
      <param name="AppendToFile" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="Log4net.FolderNameInAppData" value="TrayGarden" />
    <add key="Log4net.UseAppData" value="false"/>
    <add key="Log4net.UseSingleLogFile" value="true"/>
  
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>