<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="trayGarden" type="TrayGarden.Configuration.SectionHandler, TrayGarden" />
  </configSections>

  <trayGarden>

    <modernFactory type="TrayGarden.Configuration.ModernFactory, TrayGarden" />

    <mock type="TrayGarden.MockType">
      <StrValue>HelloStr</StrValue>
      <IntValue>15</IntValue>
      <BoolValue>True</BoolValue>
      <ObjValue>
        <mock2 type="TrayGarden.MockType">
          <IntValue>25</IntValue>
        </mock2>
      </ObjValue>
      <IntList hint="addlist">
        <value1>10</value1>
        <value2>20</value2>
        <value3>30</value3>
      </IntList>
      <StrList hint="addlist">
        <value1>first</value1>
        <value2>second</value2>
      </StrList>

      <NullList hint="newlist">
        <templates>
          <test>
            <obj type="TrayGarden.MockType">
              <StrValue>{str}</StrValue>
              <IntList hint="addlist">
                <templates>
                  <test2>
                    <value>{intv}</value>
                  </test2>
                </templates>
                <items xpathfrom="int" />
              </IntList>
            </obj>
          </test>
        </templates>
        <items templateXPath="test">
          <item str="firstT">
            <int intv="45" />
            <int intv="65" />
          </item>
          <item str="secondT" />
        </items>
      </NullList>

      <ObjList hint="addlist">
        <value>
          <obj type="TrayGarden.MockType" />
        </value>
        <value>
          <obj type="TrayGarden.MockType" />
        </value>
      </ObjList>
      <MethodInt hint="invoke">
        <firstParam>75</firstParam>
      </MethodInt>
      <MethodStr hint="invoke">
        <firstParam>Hello Alex</firstParam>
      </MethodStr>
      <!--<MethodObj hint="invoke" argTypes="System.Int32|System.Object">
        <somearg>25</somearg>
        <mock2 type="TrayGarden.MockType">
          <IntValue>25</IntValue>
        </mock2>
      </MethodObj>-->
    </mock>

    <resourceManager type="TrayGarden.Resources.MultisourceResourcesManager">
      <Sources hint="list">
        <source type="TrayGarden.Resources.AssemblySource">
          <ResourcePath>TrayGarden.Resources.GlobalResources</ResourcePath>
          <AssemblyName>TrayGarden</AssemblyName>
        </source>
      </Sources>
    </resourceManager>

    <pipelineManager type="TrayGarden.Pipelines.Engine.PipelineManager">
      <Initialize hint="invoke">
        <pipelines type="newlist:TrayGarden.Pipelines.Engine.Pipeline">
          <templates>
            <sitecoreStyle>
              <pipeline type="TrayGarden.Pipelines.Engine.Pipeline">
                <Initialize hint="invoke">
                  <argumentTypeStr>{argType}</argumentTypeStr>
                  <name>{name}</name>
                  <processors type="newlist:TrayGarden.Pipelines.Engine.Processor">
                    <templates>
                        <simpleProcessor>
                          <processor type="TrayGarden.Pipelines.Engine.Processor">
                            <Initialize hint="invoke">
                              <processorObject type="{type}" />
                              <argumentTypeStr>{argType}</argumentTypeStr>
                            </Initialize>
                          </processor>
                        </simpleProcessor>
                    </templates>
                    <items templateXPath="simpleProcessor" xpathfrom="processor" />
                  </processors>
                </Initialize>
              </pipeline>
            </sitecoreStyle>
          </templates>
          <items templateXPath="sitecoreStyle">
            <pipeline name="simple" argType="TrayGarden.Pipelines.Simple.SomeArgs">
              <processor type="TrayGarden.Pipelines.Simple.SomeProcessor" />
            </pipeline>
          </items>


          <simple type="TrayGarden.Pipelines.Engine.Pipeline">
            <Initialize hint="invoke">
              <processors type="newlist:TrayGarden.Pipelines.Engine.Processor">
                <processor type="TrayGarden.Pipelines.Engine.Processor">
                  <Initialize hint="invoke">
                    <processorObject type="TrayGarden.Pipelines.Simple.SomeProcessor" />
                    <argumentTypeStr>TrayGarden.Pipelines.Simple.SomeArgs</argumentTypeStr>
                  </Initialize>
                </processor>
              </processors>
            </Initialize>
          </simple>
        </pipelines>
      </Initialize>

    </pipelineManager>

    <typeHatcherManager type="TrayGarden.TypesHatcher.HatcherManager">
      <EggPrototype>
        <eggPrototype type="TrayGarden.TypesHatcher.Egg" />
      </EggPrototype>
      <Mappings hint="list">
        <mapping type="TrayGarden.TypesHatcher.Mapping">
          <InterfaceTypeStr>TrayGarden.Features.RuntimeSettings.Provider.IContainer</InterfaceTypeStr>
          <IsSingleton>false</IsSingleton>
          <InstanceConfigurationPath>bricks/containerPrototype</InstanceConfigurationPath>
        </mapping>
        <mapping type="TrayGarden.TypesHatcher.Mapping">
          <InterfaceTypeStr>TrayGarden.Features.RuntimeSettings.Provider.ISettingsStorage</InterfaceTypeStr>
          <IsSingleton>true</IsSingleton>
          <InstanceConfigurationPath>bricks/storageProvider</InstanceConfigurationPath>
        </mapping>
        <mapping type="TrayGarden.TypesHatcher.Mapping">
          <InterfaceTypeStr>TrayGarden.Resources.IResourcesManager</InterfaceTypeStr>
          <IsSingleton>true</IsSingleton>
          <InstanceConfigurationPath>resourceManager</InstanceConfigurationPath>
        </mapping>
        <mapping type="TrayGarden.TypesHatcher.Mapping">
          <InterfaceTypeStr>TrayGarden.Pipelines.Engine.IPipelineManager</InterfaceTypeStr>
          <IsSingleton>true</IsSingleton>
          <InstanceConfigurationPath>pipelineManager</InstanceConfigurationPath>
        </mapping>
        <mapping type="TrayGarden.TypesHatcher.Mapping">
          <InterfaceTypeStr>TrayGarden.Features.Contracts.IFeatureRuntimeSettings</InterfaceTypeStr>
          <IsSingleton>true</IsSingleton>
          <InstanceConfigurationPath>features/runtimeSettings/manager</InstanceConfigurationPath>
        </mapping>
      </Mappings>
    </typeHatcherManager>

    <features>
      <runtimeSettings>
        <manager type="TrayGarden.Features.RuntimeSettings.RuntimeSettingsManager">
          <!--Interval in seconds. If zero - disabled -->
          <autoSaveInterval>0</autoSaveInterval>
        </manager>
      </runtimeSettings>
    </features>

    <bricks>
      <storageProvider type="TrayGarden.Features.RuntimeSettings.Provider.SettingsStorage">
        <FileName>RuntimeSettings.xml</FileName>
        <!--If false, will use folder in ApplicationData -->
        <UseLocalFolder>true</UseLocalFolder>
      </storageProvider>

      <containerPrototype type="TrayGarden.Features.RuntimeSettings.Provider.Container" />

    </bricks>

    <settings>
      <setting name="ApplicationData.FolderName" value="TrayGarden" />
    </settings>
  </trayGarden>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>