<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ClipboardChangerPlant" type="ClipboardChangerPlant.Configuration.SectionHandler, ClipboardChangerPlant" />
  </configSections>
  
  <ClipboardChangerPlant>
    <RequestHandlers>
      <RequestHandler name="Youtube" type="ClipboardChangerPlant.RequestHandling.Specialized.SimpleHandler">
        <ConfirmBefore>True</ConfirmBefore>
        <ShouldBeShorted>True</ShouldBeShorted>
        <SuccessIconResourceName>youtube</SuccessIconResourceName>
        <MatchRegExpressions>http://www.youtube.com/watch.*|</MatchRegExpressions>
      </RequestHandler>

        <ConfirmBefore>True</ConfirmBefore>
      <RequestHandler name="Clip2NetWithoutWebRequest" type="ClipboardChangerPlant.RequestHandling.Specialized.Clip2NetWithoutRequestHandler">
        <ConfirmBefore>True</ConfirmBefore>
        <ShouldBeShorted>False</ShouldBeShorted>
        <SuccessIconResourceName>clip2net</SuccessIconResourceName>
        <MatchRegExpressions>http://clip2net.com/clip/.*|</MatchRegExpressions>
      </RequestHandler>      

      <RequestHandler name="Clip2NetWithoutWebRequest" type="ClipboardChangerPlant.RequestHandling.Specialized.Clip2NetWithRequestHandler">
        <ConfirmBefore>True</ConfirmBefore>
        <ShouldBeShorted>False</ShouldBeShorted>
        <SuccessIconResourceName>clip2net</SuccessIconResourceName>
        <MatchRegExpressions>^http://clip2net.com/s/.*|</MatchRegExpressions>
      </RequestHandler>

      <!--<RequestHandler name="fallbackHandler" type="ClipboardChangerPlant.RequestHandling.Specialized.SimpleHandler">
        <ShouldBeShorted>False</ShouldBeShorted>
        <ConfirmBefore>True</ConfirmBefore>
        <SuccessIconResourceName>klipperSuccess</SuccessIconResourceName>
        <MatchRegExpression>.*</MatchRegExpression>
      </RequestHandler>-->
    </RequestHandlers>

    <ProcessManager name="DefaultProcessManager" type="ClipboardChangerPlant.RequestHandling.ProcessManager">
      <pipeline>
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.GetFromClipboard" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.RequestAndExecuteHandler" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.ShortcutLink" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.SetToClipboard" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.UpdateSuccessTrayIcon" />
      </pipeline>
    </ProcessManager>

    <ShortenerProviders>
      <ShortenerProvider name="Google" type="ClipboardChangerPlant.Shortening.Google.GoogleProvider">
        <ApiKey>AIzaSyADhkgzCMcGp6_y1Rfj1tiuBR6-lp3kBsk</ApiKey>
        <RequestUrl>https://www.googleapis.com/urlshortener/v1/url</RequestUrl>
      </ShortenerProvider>

      <!--<ShortenerProvider name="FallbackProvider" type="ClipboardChangerPlant.Shortening.ShortenerProvider">
        <ApiKey>key</ApiKey>
      </ShortenerProvider>-->
    </ShortenerProviders>

    <ClipboardProvider name="DefaultProvider" type="ClipboardChangerPlant.Clipboard.ClipboardProvider" />
    
    <NotifyIconManager name="DefaultManager" type="ClipboardChangerPlant.NotificationIcon.NotifyIconManager">
      <DefaultTrayIcon>klipper</DefaultTrayIcon>
      <NotFoundTrayIcon>klipperEmpty</NotFoundTrayIcon>
      <ErrorTrayIcon>klipperFault</ErrorTrayIcon>
      <SuccessTrayIcon>klipperSuccess</SuccessTrayIcon>
      <InProgressTrayIcon>klipperInProgress</InProgressTrayIcon>
      <DefaultTimeout>400</DefaultTimeout>
    </NotifyIconManager>

    <ApplicationEngine name="DefaultApplicationEngine" type="ClipboardChangerPlant.Engine.AppEngine" />
  </ClipboardChangerPlant>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>