<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ClipboardChangerPlant" type="ClipboardChangerPlant.Configuration.SectionHandler, ClipboardChangerPlant" />
  </configSections>

  <ClipboardChangerPlant>
    <RequestHandlers>
      <RequestHandler name="OnlyShorteningHandler" type="ClipboardChangerPlant.RequestHandling.Specialized.OnlyShorteningHandler">
        <ShouldBeShorted>True</ShouldBeShorted>
        <SuccessIconResourceName>klipperShortedv5</SuccessIconResourceName>
        <MatchRegExpressions>^http.*|</MatchRegExpressions>
      </RequestHandler>
      
      <RequestHandler name="clip2net (non req)" type="ClipboardChangerPlant.RequestHandling.Specialized.Clip2NetWithoutRequestHandler">
        <ShouldBeShorted>False</ShouldBeShorted>
        <SuccessIconResourceName>clip2net</SuccessIconResourceName>
        <MatchRegExpressions>.+http://clip2net.com/clip/.*|</MatchRegExpressions>
        <EnableConfirmation>False</EnableConfirmation>
        <EnableReverting>True</EnableReverting>
      </RequestHandler>

      <RequestHandler name="clip2net (req)" type="ClipboardChangerPlant.RequestHandling.Specialized.Clip2NetWithRequestHandler">
        <ShouldBeShorted>False</ShouldBeShorted>
        <SuccessIconResourceName>clip2net</SuccessIconResourceName>
        <MatchRegExpressions>^http://clip2net.com/s/.*|</MatchRegExpressions>
        <EnableConfirmation>False</EnableConfirmation>
        <EnableReverting>True</EnableReverting>
      </RequestHandler>

      <RequestHandler name="Youtube shortener" type="ClipboardChangerPlant.RequestHandling.Specialized.UrlShortenerWithConfirmation">
        <ShouldBeShorted>True</ShouldBeShorted>
        <SuccessIconResourceName>youtube</SuccessIconResourceName>
        <MatchRegExpressions>http://www.youtube.com/watch.*|</MatchRegExpressions>
        <EnableConfirmation>False</EnableConfirmation>
        <EnableReverting>True</EnableReverting>
      </RequestHandler>

      <RequestHandler name="all url shortener" type="ClipboardChangerPlant.RequestHandling.Specialized.UrlShortenerWithConfirmation">
        <ShowRevertOption>True</ShowRevertOption>
        <SuccessIconResourceName>klipperSuccess</SuccessIconResourceName>
        <MatchRegExpressions>^http.*|</MatchRegExpressions>
        <EnableConfirmation>True</EnableConfirmation>
        <EnableReverting>True</EnableReverting>
      </RequestHandler>
    </RequestHandlers>

    <ProcessManager name="DefaultProcessManager" type="ClipboardChangerPlant.RequestHandling.ProcessManager">
      <pipeline>
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.ResolveNotifyIconChanger" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.PullValueFromClipboard" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.StoreOriginalUrlValue" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.ResolveHandler" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.PreExecuteHandler" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.ExecuteHandler" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.ShortcutLink" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.PostExecuteHandler" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.StoreToClipboard" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.UpdateSuccessTrayIcon" />
        <processor type="ClipboardChangerPlant.RequestHandling.PipelineModel.Pipeline.PostmortemRevertValueHandler" />
      </pipeline>
    </ProcessManager>

    <ShortenerProviders>
      <ShortenerProvider name="Google" type="ClipboardChangerPlant.Shortening.Google.GoogleProvider">
        <ApiKey>AIzaSyADhkgzCMcGp6_y1Rfj1tiuBR6-lp3kBsk</ApiKey>
        <RequestUrl>https://www.googleapis.com/urlshortener/v1/url</RequestUrl>
      </ShortenerProvider>

      <!--<ShortenerProvider name="FallbackProvider" type="ClipboardChangerPlant.Shortening.ShortenerProvider">
        <ApiKey>key</ApiKey>
      </ShortenerProvider>-->
    </ShortenerProviders>

    <ClipboardProvider name="DefaultProvider" type="ClipboardChangerPlant.Clipboard.ClipboardProvider" />

    <NotifyIconManager name="DefaultManager" type="ClipboardChangerPlant.NotificationIcon.NotifyIconManager">
      <DefaultTrayIcon>klipper</DefaultTrayIcon>
      <NotFoundTrayIcon>klipperEmpty</NotFoundTrayIcon>
      <ErrorTrayIcon>klipperFault</ErrorTrayIcon>
      <SuccessTrayIcon>klipperSuccess</SuccessTrayIcon>
      <InProgressTrayIcon>klipperInProgress</InProgressTrayIcon>
      <DefaultTimeout>400</DefaultTimeout>
    </NotifyIconManager>

    <ApplicationEngine name="DefaultApplicationEngine" type="ClipboardChangerPlant.Engine.AppEngine" />
    
  </ClipboardChangerPlant>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>